section#about.about
    .container
        .title
            h2 About
        p.text-center.about__text The Brooklyn Library is a free workspace, a large number of books and a cozy coffee shop inside

        .slider
            .slider__wrapper
                img(src=require('/img/about/1.jpg'), class="im" id="i1" alt="photo")
                img(src=require('/img/about/2.jpg'), class="im" id="i2" alt="photo")
                img(src=require('/img/about/3.jpg'), class="im" id="i3" alt="photo")
                img(src=require('/img/about/4.jpg'), class="im" id="i4" alt="photo")
                img(src=require('/img/about/5.jpg'), class="im" id="i5" alt="photo")
            .slider__pagination
                .slider__bullet.active
                    span
                .slider__bullet
                    span
                .slider__bullet
                    span




