-
    const book = [
        {
            'top_text': "Staff Picks",
            'season': 'Winter',
            'name': 'The Book Eaters',
            'by': 'By Sunyi Dean',
            'description': 'An unusual sci-fi story about a book eater woman who tries desperately to save her dangerous mind-eater son from tradition and certain death. Complete with dysfunctional family values, light Sapphic romance, and a strong, complex protagonist. Not for the faint of heart.',
            'name_image':'13'
        },
        {
            'top_text': "Staff Picks",
            'season': 'Winter',
            'name': 'Cackle',
            'by': 'By Rachel Harrison',
            'description': 'Are your Halloween movies of choice The Witches of Eastwick and Practical Magic? Look no further than here - where a woman recovering from a breakup moves to a quaint town in upstate New York and befriends a beautiful witch.',
            'name_image': '14'
        },
        {
            'top_text': "Staff Picks",
            'season': 'Winter',
            'name': 'Dante: Poet of the Secular World',
            'by': 'By Erich Auerbach',
            'description': 'Auerbach\'s engaging book places the \'Comedy\' within the tradition of epic, tragedy, and philosophy in general, arguing for Dante\'s uniqueness as one who raised the individual and his drama of soul into something of divine significance—an inspired introduction to Dante\'s main themes.',
            'name_image': '15'
        },
        {
            'top_text': "Staff Picks",
            'season': 'Winter',
            'name': 'The Last Queen',
            'by': 'By Clive Irving',
            'description': 'A timely and revelatory new biography of Queen Elizabeth (and her family) exploring how the Windsors have evolved and thrived as the modern world has changed around them.',
            'name_image': '16',
            'btn': 'active'
        },
        {
            'top_text': "Staff Picks",
            'season': 'Spring',
            'name': 'The Body',
            'by': 'By Stephen King',
            'description': 'Powerful novel that takes you back to a nostalgic time, exploring both the beauty and danger and loss of innocence that is youth.',
            'name_image': '1',
            'none':true
        },
        {
            'top_text': "Staff Picks",
            'season': 'Spring',
            'name': 'Carry: A Memoir of Survival on Stolen',
            'by': 'Land By Toni Jenson',
            'description': 'This memoir about the author\'s relationship with gun violence feels both expansive and intimate, resulting in a lyrical indictment of the way things are.',
            'name_image': '2',
            'none':true
        },
        {
            'top_text': "Staff Picks",
            'season': 'Spring',
            'name': 'Days of Distraction',
            'by': 'By Alexandra Chang',
            'description': 'A sardonic view of Silicon Valley culture, a meditation on race, and a journal of displacement and belonging, all in one form-defying package of spare prose.',
            'name_image': '3',
            'none':true
        },
        {
            'top_text': "Staff Picks",
            'season': 'Spring',
            'name': 'Dominicana',
            'by': 'By Angie Cruz',
            'description': 'A fascinating story of a teenage girl who marries a man twice her age with the promise to bring her to America. Her marriage is an opportunity for her family to eventually immigrate. For fans of Isabel Allende and Julia Alvarez.',
            'name_image': '4',
            'none':true
        },
        {
            'top_text': "Staff Picks",
            'season': 'Summer',
            'name': 'Crude: A Memoir',
            'by': 'By Pablo Fajardo & Sophie Tardy-Joubert',
            'description': 'Drawing and color by Damien Roudeau | This book illustrates the struggles of a group of indigenous Ecuadoreans as they try to sue the ChevronTexaco company for damage their oil fields did to the Amazon and her people',
            'name_image': '5',
            'none': true
        },
        {
            'top_text': "Staff Picks",
            'season': 'Summer',
            'name': 'Let My People Go Surfing',
            'by': 'By Yvon Chouinard',
            'description': 'Chouinard—climber, businessman, environmentalist—shares tales of courage and persistence from his experience of founding and leading Patagonia, Inc. Full title: Let My People Go Surfing: The Education of a Reluctant Businessman, Including 10 More Years of Business Unusual.',
            'name_image': '6',
            'none': true
        },
        {
            'top_text': "Staff Picks",
            'season': 'Summer',
            'name': 'The Octopus Museum: Poems',
            'by': 'By Brenda Shaughnessy',
            'description': 'This collection of bold and scathingly beautiful feminist poems imagines what comes after our current age of environmental destruction, racism, sexism, and divisive politics.',
            'name_image': '7',
            'none': true
        },
        {
            'top_text': "Staff Picks",
            'season': 'Summer',
            'name': 'Shark Dialogues: A Novel',
            'by': 'By Kiana Davenport',
            'description': 'An epic saga of seven generations of one family encompasses the tumultuous history of Hawaii as a Hawaiian woman gathers her four granddaughters together in an erotic tale of villains and dreamers, queens and revolutionaries, lepers and healers.',
            'name_image': '8',
            'none': true
        },

        {
            'top_text': "Staff Picks",
            'season': 'Autumn',
            'name': 'Casual Conversation',
            'by': 'By Renia White',
            'description': 'White\'s impressive debut collection takes readers through and beyond the concepts of conversation and the casual - both what we say to each other and what we don\'t, examining the possibilities around how we construct and communicate identity. ',
            'name_image': '9',
            'none': true
        },
        {
            'top_text': "Staff Picks",
            'season': 'Autumn',
            'name': 'The Great Fire',
            'by': 'By Lou Ureneck',
            'description': 'The harrowing story of an ordinary American and a principled Naval officer who, horrified by the burning of Smyrna, led an extraordinary rescue effort that saved a quarter of a million refugees from the Armenian Genocide',
            'name_image': '10',
            'none': true
        },
        {
            'top_text': "Staff Picks",
            'season': 'Autumn',
            'name': 'Rickey: The Life and Legend',
            'by': 'By Howard Bryant',
            'description': 'With the fall rolling around, one can\'t help but think of baseball\'s postseason coming up! And what better way to prepare for it than reading the biography of one of the game\'s all-time greatest performers, the Man of Steal, Rickey Henderson?',
            'name_image': '11',
            'none': true
        },
        {
            'top_text': "Staff Picks",
            'season': 'Autumn',
            'name': 'Slug: And Other Stories',
            'by': 'By Megan Milks',
            'description': 'Exes Tegan and Sara find themselves chained together by hairballs of codependency. A father and child experience the shared trauma of giving birth to gods from their wounds.',
            'name_image': '12',
            'none': true
        }

    ];

section#favorites.favorites
    .container
        .title
            h2 Favorites

        .favorites__title Pick favorites of season

        .book
            .favorites__form
                form(method='GET' action='#' class="favorites__form-book")
                    .form__group-radio
                        input(type='radio',  id="winter" class="form__input-radio" name="season" checked)
                        label(for="winter" class="form__label-radio")
                            span.form__button-radio
                            | Winter
                    .favorites__group
                        input(type='radio',  id="spring" class="form__input-radio" name="season")
                        label(for="spring" class="form__label-radio")
                            span.form__button-radio
                            |Spring
                    .favorites__group
                        input(type='radio',  id="summer" class="form__input-radio" name="season")
                        label(for="summer" class="form__label-radio")
                            span.form__button-radio
                            |Summer
                    .favorites__group
                        input(type='radio',  id="autumn" class="form__input-radio" name="season")
                        label(for="autumn" class="form__label-radio")
                            span.form__button-radio
                            |Autumn
            .favorites__cards
                each item in book
                    if item.none === true
                        .favorites__card.none
                    else
                        .favorites__card
                            .favorites__card-wrapper
                                .favorites__card-staff !{item.top_text}
                                .favorites__card-name !{item.name}
                                .favorites__card-by !{item.by}
                                .favorites__card-description !{item.description}

                                if item.btn == 'active'
                                    button.favorites__card-btn.active(type="submit") Own
                                else
                                    button.favorites__card-btn(type="submit") Buy
                                .favorites__card-img
                                        img(src=require('/img/favorites/'+ item.name_image +'.jpg'), alt="photo")




