.slider3
    nav
        a(href="#") Mouthwash
        a(href="#") Portfolio

    a(href="#" id="showreel") showreel


    .slider3-wrapper
        .slider3-item
            figure
                img(src=require('/img/about/1.jpg'), alt="photo")
        .slider3-item
            figure
                img(src=require('/img/about/2.jpg'), alt="photo")
        .slider3-item
            figure
                img(src=require('/img/about/3.jpg'), alt="photo")
        .slider3-item
            figure
                img(src=require('/img/about/4.jpg'), alt="photo")
        .slider3-item
            figure
                img(src=require('/img/about/5.jpg'), alt="photo")
    .slider-progress
        .slider-progress-bar
