include ./_mixin

.slider
    .slider__wrapper
        img(src=require('/img/about/1.jpg'), alt="photo")
        img(src=require('/img/about/2.jpg'), alt="photo")
        img(src=require('/img/about/3.jpg'), alt="photo")
        img(src=require('/img/about/4.jpg'), alt="photo")
        img(src=require('/img/about/5.jpg'), alt="photo")


    .slider__button-prev.slider__arrow.disable
        +main-svg('', './img/sprite-images/arrow.svg#left')

    .slider__button-next.slider__arrow
        +main-svg('', './img/sprite-images/arrow.svg#right')

    .slider__pagination
        .slider__bullet.active(data-bullet=1)
            span
        .slider__bullet(data-bullet=2)
            span
        .slider__bullet(data-bullet=3)
            span
        .slider__bullet(data-bullet=4)
            span
        .slider__bullet(data-bullet=5)
            span
